<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/log/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="infoFile" fileName="${basedir}/log/log-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="errorFile" fileName="${basedir}/log/error-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="Console" name="console" layout="${longdate}|${level}|${message}"/>

  </targets>

  <rules>
    <logger name="MMYBWebService.Web.Miscellaneous.ApiActionFilter" minlevel="Information" maxlevel="Error" writeTo="infoFile" />
    <logger name="MMYBWebService.Web.Miscellaneous.ApiActionFilter" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" />
    
    <logger name="MMYBWebService.Web.Miscellaneous.GlobalExceptionFilter" minlevel="Information" maxlevel="Information" writeTo="errorFile" /> 
    <logger name="MMYBWebService.Web.Miscellaneous.GlobalExceptionFilter" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" /> 
    
    <logger name="*" minlevel="Information"  writeTo="console" />
  </rules>
</nlog>